{% extends 'student/base.html ' %}
{% block content %}
    <div class="container mt-5">
        <form method="post" class="col-md-6 offset-md-3">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Student</legend>
                {{ form.as_p }}
            </fieldset>

            <div class="form-group">
                <button class="detail-button" type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock %}                           